<main role="main">
    <div class="container">
        <h1>Stamp Rally</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">Add Family or Friends to your Stamp Rally</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-primary" href="add_people" role="button">Add Another Person</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">Book your airfare to Japan</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-primary" href="search_airfare" role="button">Search for Flights</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">Find a train to get around Japan</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-primary" href="search_trainfare" role="button">Search for Trains</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">View all possible stamps to visit</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-primary" href="stamp_locations" role="button">View Stamp Locations</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">View Current Stamp Itinerary</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-primary" href="stamp_itinerary" role="button">View Itinerary</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">View History of Stamps Visited</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-primary" href="stamp_history" role="button">View History of Stamps</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>