<main role="main">
    <div class="container">
        <h1>Welcome to Stamp Rally</h1>
        <div>
            <a class="btn btn-primary" href="sign_up" role="button">Sign Up</a>
        </div>
    </div>

</main>