<main role="main">
    <div class="container">
        <h1>Stamp Rally</h1>
        <h3>Add Family or Friends to your Stamp Rally</h3>
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-primary" href="add_people" role="button">Add Another Person</a>
            </div>

            <div class="col-sm">
                <a class="btn btn-primary" href="search_airfare" role="button">Search for Airfare</a>
            </div>

            <div class="col-sm">
                <a class="btn btn-primary" href="search_trainfare" role="button">Search for Trainfare</a>
            </div>
        </div>
    </div>

</main>