<main role="main">
    <div class="container">
        <a href="home"><h1>Stamp Rally</h1></a>
        <h3>Search Trainfare</h3>
        <script src="//c44.travelpayouts.com/content?promo_id=1506&shmarker=175883&color=blue&border=true&border_radius=0&locale=en&from=Tokyo&to=Kyoto" charset="utf-8"></script>
    </div>

</main>