<main role="main">
    <div class="container">
        <a href="home"><h1>Stamp Rally</h1></a>
        <h3>Search Airfare</h3>
        <script charset="utf-8" src="//www.travelpayouts.com/calendar_widget/iframe.js?marker=175793.&origin=SEA&destination=TYO&currency=usd&searchUrl=jetradar.com&one_way=false&only_direct=false&locale=en&period=year&range=7%2C14&width=800" async></script>
    </div>

</main>