<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">SF Bay Area Golf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="public">Public Courses</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="private">Private Courses <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="map">Map of Courses</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<h1 class="display-4">Some Info on Private Golf Clubs</h1>

<div class="list-group">
    <a target="_blank" href="http://www.golfcoursegurus.com/reviews/sanfrancisco.php" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">San Francisco Golf Club</h5>
        </div>
        <p class="mb-1">An all-time great course in San Francisco designed by A.W. Tillinghast in 1915.</p>
        <small class="text-muted">Click to learn more about SF Golf Club</small>
    </a>
    <a target="_blank" href="http://www.calclub.org/history/" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">California Golf Club</h5>
        </div>
        <p class="mb-1">A world class course designed by William Locke and A.Vernon Macan in 1926.</p>
        <small class="text-muted">Click to learn more about the Cal Club</small>
    </a>
    <a target="_blank" href="https://www.olyclub.com/golf-course-tours/" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">The Olympic Club</h5>
        </div>
        <p class="mb-1">The Lake Course at Olympic Club has hosted a number of prestigious professional and amateur events.</p>
        <small class="text-muted">Click to learn more about the Olympic Club</small>
    </a>
    <a target="_blank" href="http://www.claremontcountryclub.com/Club/Scripts/public/public.asp" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Claremont Country Club</h5>
        </div>
        <p class="mb-1">A shorter course tucked in Oakland designed by Alister Mackenzie in 1926</p>
        <small class="text-muted">Click to learn more about Claremont</small>
    </a>
</div>