<main role="main">
    <div class="container">
        <a href="/home"><h1>Stamp Rally</h1></a>
        <h1>Stamps You Have Visited</h1>
        <table class="table">
            <thead>
            <th>Name</th>
            <th>User Comments</th>
            <th>Rating</th>
            </thead>
            <tbody>
            {{#each stamps}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{user_comments}}</td>
                    <td>{{rating}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</main>