<main role="main">
    <div class="container">
        <a href="home"><h1>Stamp Rally</h1></a>
        <h3>Stamp Rally User Preferences</h3>
        <form action="/home">
            <div class="form-group row">
                <label class="col-2" for="activityFilter">Activity Filters</label>
                <div class="col-4">
                    <select class="form-control" id="activityFilter">
                        <option>Museums</option>
                        <option>Hikes</option>
                        <option>Temples</option>
                        <option>Restaurants</option>
                        <option>Parks</option>
                        <option>None</option>
                    </select>
                </div>
                <div class="col-6"></div>
            </div>
            <div class="form-group row">
                <label class="col-2" for="travelDistance">Travel Distance</label>
                <div class="col-4">
                    <select class="form-control" id="travelDistance">
                        <option>1 km</option>
                        <option>5 km</option>
                        <option>10 km</option>
                        <option>15 km</option>
                        <option>30 km+</option>
                        <option>None</option>
                    </select>
                </div>
                <div class="col-6"></div>
            </div>
            <div class="form-group row">
                <label class="col-2" for="travelOptions">Travel Options</label>
                <div class="col-4">
                    <select class="form-control" id="travelOptions">
                        <option>Walking</option>
                        <option>Rental</option>
                        <option>Taxi</option>
                        <option>Bike</option>
                        <option>Airplane</option>
                        <option>None</option>
                    </select>
                </div>
                <div class="col-6"></div>
            </div>
            <div class="form-group row">
                <label class="col-2" for="cityPreferences">City Preferences</label>
                <div class="col-4">
                    <select class="form-control" id="cityPreferences">
                        <option>Tokyo</option>
                        <option>Yokohama</option>
                        <option>Osaka</option>
                        <option>Nagoya</option>
                        <option>Sapporo</option>
                        <option>Kobe</option>
                        <option>Kyoto</option>
                        <option>Fukuoka</option>
                        <option>Kawasaki</option>
                        <option>Saitama</option>
                        <option>None</option>
                    </select>
                </div>
                <div class="col-6"></div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Update Preferences</button>
                </div>
            </div>
        </form>
    </div>

</main>